<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Olin Room Draw</title>

    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="favicon.png">
    <!--Main style sheets--!>
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/menu.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/preview_card.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main_large.css">
    <link rel="stylesheet" media="screen and (max-width: 700px)" href="stylesheets/main_small.css">
    <!--Font Icon style sheet --!>
    <link rel='stylesheet' href='stylesheets/typicons.min.css' />
    <!--Google Fonts --!>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic,900italic|Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    {{{body}}}
</body>
<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</html>
