.home {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.parent {
    flex:2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 400;
    font-size: 450%;
}

.dec-text {
    text-align: center;
    transition: width 2s;
    transition-timing-function: ease;
}

@media (min-width: 401px) {
    .parent {
        align-items: flex-start;
        background-image: url('../images/portrait_bw.svg');
        background-size: cover;
        font-weight: 400;
        font-size: 600%;
        color: #212121;
    }
    .declaration {
        margin-left: 10vw;
    }
}

@media (max-width: 400px) {
    .parent {
        align-items: center;
        background-image: url('../images/portrait_bw_mobile.svg');
        background-size: cover;
        font-weight: 400;
        font-size: 350%;
        color: #FFFAFA;
    }
}
