@media (min-width: 401px) {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    body{
        height: 100%;
        width: 100%;
        margin: 0;
        background: #FFFAFA;
    }
    html {
        height: 100%;
    }

    .flex-container{
        display: flex;
    }

    .wrap {
        height: 100vh;
        flex-direction: column;
    }

    .title-bar{
        flex-basis: 5%;
        width: 100vw;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    .title{
        margin-left: 15px;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-style: italic;
    }

    .main {
        margin: 10px 10px;
        align-items: stretch;
        justify-content: flex-start;
        padding:5px
    }

    .detail-card{
        flex-basis: 40%;
        margin: 5px;
        height: calc(100vh - 7.5vh - 35px);
        font-family: 'Open Sans', sans-serif;
    }

    .detail-img{
        display: block;
        min-height: 40vh;
        max-height: 60vh;
        min-width: 0 !important;
        margin: 0 auto;
    }

    .detail-actions{
        position: absolute !important;
        bottom: 2.5%;
        left: 2.5%;
    }

    .detail-text{
        overflow-y: auto;
        max-height: calc(100vh - 7.5vh - 35px - 50px);
    }

    .detail-info{
        margin-bottom: 5px;
    }
    .key{
        font-weight: bold;
        display: inline;
        font-size: 20px !important;
    }

    .project-matrix{
        display: flex;
        flex-direction: row;
        flex-basis: 60%;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 5px 0;
        height: calc(100vh - 7.5vh - 35px);
        overflow-y: scroll;
        align-items: flex-start;
    }

    .project-card{
        margin: 0px 15px 15px 15px;
        font-family: 'Open Sans', sans-serif;
        flex-basis: 40%
    }
}
