.sidebar {
  width: 25vw;
  float: left;
  min-height: 80vh;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding-bottom: 40px;
  background: #FFFFFF;
 box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  border-buttom-left-radius: 2px;
  border-buttom-right-radius: 2px;
  font-family: 'Open Sans';
}

.menuBar {
  background-color: #333333;
  height: 44px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tabButton {
  cursor: pointer;
  float: left;
  height: calc(100% - 6px);
  width: 33.33%
}

.tab{
  margin: 15px 7.5px 7.5px;
}

.message{
  margin: 7.5px;
  font-family: 'Open Sans';
  padding: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.Select{
  margin-top: 15px;
}

.tagsListLabel{
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  transform: translateY(-15px);
  font-family: 'Open Sans';
}

.tagScale{
  display: inline-block;
  margin-top: 25px;
  width: calc(100% - 10px - 24px - 100px);
  height: 30px;
}


#tagLabelSVG{
  width: calc(100%);
  height: 30px;
  font-family: 'Open Sans';
  font-size: 10px;
}

.tag{
  display: inline-block;
  margin: 0px 5px 20px;
  width: calc(100% - 10px);
}

.moveableHandle:hover {
  background-color: #303F9F;
  width: 15px;
  height: 15px;
  transform: translate(-1.25px, -5px);
  border-radius: 10px;
}

.tagText{
  display: inline-block;
  width: 100px;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
  transform: translateY(10%);
 :font-family: 'Open Sans';
  color: black;
}

.tagSlider{
  display: inline-block;
  width: calc(100% - 10px - 24px - 100px);
  vertical-align: middle;
}

.comparisonSlider{
  float:left;
  clear:left;
  width: calc(100% - 10px - 24px - 100px);
  top: -12.5px;
  left: 105px;
}

.staticHandle {
  background-color: #9E9E9E;
  width: 12.5px;
  height: 12.5px;
  border-radius: 10px;
  z-index:2 !important;
  transform: translate(0, -3.75px);
}

.moveableHandle{
  background-color: #303F9F;
  width: 12.5px;
  height: 12.5px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  z-index: 3 !important;
  transform: translateY(-3.75px);
}

.moveableHandle:hover {
  background-color: #303F9F;
  width: 15px;
  height: 15px;
  transform: translate(-1.25px, -5px);
  border-radius: 10px;
}

.moveableHandle.active{
  background-color: #303F9F;
  width: 15px;
  height: 15px;
  transform: translate(-1.25px, -5px);
  border-radius: 10px;
}

.bar {
  background: #E0E0E0;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  z-index:1;
}

.tagRemoveBtn {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;
  transform: translateY(2.5px);
}

.messageSubjectright {
  float: right;
  font-family: 'Open Sans';
  font-style: italic;
 }

.messageSubjectleft {
  float: left;
  font-family: 'Open Sans';  
  font-style: italic;

}

.emails{margin: 7.5px;
  padding: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
   vertical-align: middle;
}

.checkboxes {
    width: 300px;
    border: 0px;
    margin: 10px;
    font-family: 'Open Sans';
}

.box1{
   position: relative;
    top: 25px;
  margin-right: 15px;
  float: right;
  vertical-align:bottom;
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
}

.box2{
   position: relative;
    top: 30px;
  margin-right: 15px;
  float: right;
  vertical-align:bottom;
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
}


.settings{
  font-style: italic;
}

.moveableHandle{
  background-color: #303F9F;
  width: 12.5px;
  height: 12.5px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  z-index: 3 !important;
  transform: translateY(-3.75px)
}

.email{
  width: 350px;
  height: 30px;
    font-family: 'Open Sans';
    font-size: 100%;
      
}

.moveableHandle.active{
  background-color: #303F9F;
  width: 15px;
  height: 15px;
  transform: translate(-1.25px, -5px);
  border-radius: 10px;
}

.phone{
 font-family: 'Open Sans'  
}

.phone1{
  width: 50px;
  height: 30px;
  text-align: center; 
  font-size: 100%;
  font-family: 'Open Sans'

}

.bar {
  background: #E0E0E0;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  z-index:1;
}

.phone2{
  width: 70px;
  height: 30px;
  text-align: center; 
  font-size: 100%;
  font-family: 'Open Sans'
      
}

.contact{
  width: 350px;
  height: 100px;
  font-size: 100%;
  font-family: 'Open Sans'
      
}

.save-button {
  float: center;
  width: 102px;
  padding: 6px;
  font-weight: bold;;
  /*color: #333333;*/
  background-color: #E0E0E0;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  font-family: 'Open Sans';
  position:relative;
   position: relative;
   left: 130px;
}

button:hover {
    background-color: #B8B8B8   ;
}
