.sidebar {
  width: 25%;
  float: left;
  min-height: 80vh;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 40px;
  background: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  border-buttom-left-radius: 2px;
  border-buttom-right-radius: 2px;
  font-family: 'Open Sans';
}

.menuBar {
  background-color: #333333;
  height: 44px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tabButton {
  cursor: pointer;
  float: left;
  height: calc(100% - 6px);
  width: 33.33%
}

.tab{
  margin: 7.5px;
}

.Select{
  margin-top: 5px;
}

.tag{
  margin: 2.5px;
  width: calc(100% - 5px);
}

.tagText{
  float: left;
  width: 100px;
  margin-right: 5px;
  vertical-align: middle;
  transform: translateY(75%);
  color: black;
}

.tagSlider{
  float:right;
  width: calc(100% - 100px);
  position: relative;
}

.message{
  margin: 7.5px;
  padding: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}