.sidebar {
  width: 25%;
  float: left;
  min-height: 80vh;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.menuBar{
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #000000;
}

.tabButton {
  cursor: pointer;
  float: left;
  height: calc(100% - 6px);
  width: 33.33%
}

.tab{
  margin: 7.5px;
}

.Select{
  margin-top: 5px;
}

.tag{
  margin: 2.5px;
  width: calc(100% - 5px);
}

.tagText{
  float: left;
  width: 100px;
  margin-right: 5px;
  vertical-align: middle;
  transform: translateY(75%);
  font-family: 'Open Sans';
  color: black;
}

.tagSlider{
  float:right;
  width: calc(100% - 100px);
  position: relative;
}

.message{
  margin: 7.5px;
  padding: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
