<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Linked CSS -->
        <link rel="stylesheet" href="/stylesheets/login.css" />
    </head>

    <body class="flex-parent flex-vcenter flex-hcenter fabrica">
        <div id="login">
            <div id="login-header">OLIN ROOMDRAW</div>
            <form id="login-form" method="get" action="/home">

                <div class="field">
                    <label class="ui-label" for="username">Username</label><br/>
                    <input type="text" size=40 class="form-input" id="username" name="username" ng-model="username">
                </div>
                <div class="field last-field">
                    <label class="ui-label" for="password">Password</label><br/>
                    <input type="password" size=40 class="form-input" id="password" name="password" ng-model="password">
                </div>
                <div id="button-container" class="full-width flex-parent">
                     <button type="submit" id="login-button" class="ui-label field important-btn">LOGIN</button>
                </div>
            </form>
        </div>
    </body>
</html>